<dom-module id="app-login">
  <template>
    <style>
      .login-container {
        width: 400px;
        margin: auto;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 0 2px 2px #EFEFEF;
      }

      .error {
        color: red;
      }
    </style>

    <div class="align-center">
      <div class="login-container">
        <form on-submit="submit">
          <label for="username">Username:</label>
          <input type="text" id="username" value="{{username::input}}"><br>
          <label for="password">Password:</label>
          <input type="password" id="password" value="{{password::input}}"><br>
          <button type="submit" on-click="login">Login</button>
          <button type="submit" on-click="register">Register</button>
          <div>
            <span class="error">{{error}}</span>
          </div>
        </form>
      </div>
    </div>
  </template>

  <script>
    Polymer.require([
      "services/auth-service"
    ], function (auth) {
      return {
        is: "app-login",
        properties: {
          username: {
            type: String,
            value: ""
          },
          password: {
            type: String,
            value: ""
          },
          error: {
            type: String,
            value: ""
          }
        },
        submit: function (event) {
          event.preventDefault();
          this.login();
        },
        handleError: function (error) {
          this.error = error.message;
        },
        clearError: function () {
          this.error = "";
        },
        login: function () {
          this.clearError();
          auth.login(this.username, this.password, this.handleError.bind(this));
        },
        register: function () {
          this.clearError();
          auth.register(this.username, this.password, this.handleError.bind(this));
        }
      }
    });
  </script>
</dom-module>
